<h1>Terry's Tech Academy Journey</h1>
<h4>Welcome to my new single-page application!</h4>
<br/>
<h4>I am studying to be a Full-Stack Developer and have completed the following Software Developer Boot Camp courses:</h4>
<ul>
    <li>Computer and Technology Basics Course</li>
    <li>Overview of Software Development Course</li>
    <li>Version Control Course</li>
    <li>HTML and CSS Course</li>
    <li>JavaScript Course</li>
    <li>Database and SQL Course</li>
    <li>Python Course</li>
    <li>Python Live Project</li>
    <li>Visual Studio Course</li>
    <li>C# and .NET Framework Course</li>
    <li>Project Management Course</li>
</ul>
<p>To sign up for The Tech Academy go <a href="https://learncodinganywhere.com/">here</a>!</p>