<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>About Terry Murdock</h1>
    <p>After graduating with a Bachelor of Science in Business Administration from the University of Florida, Terry began his career 
       in retail sales and then moved into contact center management at the Walt Disney World Resort. He then transitioned into the 
       exciting technology sector working for Dell Computers, also in contact center management. An opportunity soon arose to work for 
       Microsoft, where he spent 10 years working as a people, program/project, and business process manager. Having found a passion 
       for web design, he left Microsoft to study web and graphic design and soon found work as a SharePoint Administrator. Recently, 
       to further his career, he has been enrolled in a Software Developer Boot Camp at The Tech Academy.</p>
    <img data-bind="attr: {src: image}" />
</body>
</html>